################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RecipeApp/FileContentIndex/00d4d91f-327b-4078-be41-4a53dd34993f.vsidx
*.vsidx
/RecipeAppBLL/obj/Debug/net7.0/RecipeAppBLL.assets.cache
/RecipeAppBLL/obj/Debug/net7.0/RecipeAppBLL.csproj.AssemblyReference.cache
/RecipeApp/bin
/RecipeApp/obj/
/RecipeAppBLL/bin/
/RecipeAppBLL/obj/
/RecipeApp/obj/Debug/net7.0/RecipeApp.assets.cache
/.vs/RecipeApp/v17/.suo
/RecipeAppDAL/bin/Debug/net7.0/RecipeAppDAL.dll
/RecipeAppDAL/bin/Debug/net7.0/RecipeAppDAL.pdb
/RecipeAppDAL/obj/Debug/net7.0/RecipeAppDAL.assets.cache
/RecipeAppDAL/obj/Debug/net7.0/RecipeAppDAL.csproj.AssemblyReference.cache
/RecipeAppDAL/obj/Debug/net7.0/RecipeAppDAL.csproj.CoreCompileInputs.cache
/RecipeAppDAL/obj/Debug/net7.0/RecipeAppDAL.csproj.FileListAbsolute.txt
/RecipeAppDAL/obj/Debug/net7.0/RecipeAppDAL.dll
/RecipeAppDAL/obj/Debug/net7.0/RecipeAppDAL.GeneratedMSBuildEditorConfig.editorconfig
/RecipeAppDAL/obj/Debug/net7.0/RecipeAppDAL.genruntimeconfig.cache
/RecipeAppDAL/obj/Debug/net7.0/RecipeAppDAL.pdb
/RecipeAppDAL/obj/project.assets.json
/RecipeAppDAL/obj/project.nuget.cache
/RecipeAppDAL/obj/RecipeAppDAL.csproj.nuget.dgspec.json
/RecipeAppDAL/obj/RecipeAppDAL.csproj.nuget.g.props
